*{box-sizing: border-box; margin: 0; padding: 0;}

.dark{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;;
background-color: rgb(26, 13, 39); color: whitesmoke;}
.light{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
background-color: white; color: #221b2b;}
.lightA{background-color: #fef8dd; color: #241c30;}
.darkA{ background-color: #221b2b; color: whitesmoke;}

body{ width: 1fr;}
aside{z-index: 5; width: calc(100% / 7); height: 100vh; top: 0; left: 0; position: fixed;}
main{ margin: 2% 0 0 22%; width: calc(100% / 8 * 5.75); height: 90vh; padding: 0 20px; overflow: auto; /*border: 1px solid rgb(214, 214, 241);*/}
footer{ text-align: center; left: calc(100% / 7); width: calc(100% / 7 * 6); padding: 10px 0; bottom: 0; position: fixed;}

li{list-style: none; font-size: 0.95em; padding: 8px 13px;}
a{ text-decoration: none; color: inherit;}
button{ outline: none; border: none; background: transparent; border-radius: none; cursor: pointer; font-size: 1em; color: inherit;}

.nav div:not(.nav-footer){ padding: 7px 0; display: flex; place-content: center; flex-direction: column;}
.nav-title{ text-align: center;}
.sub-nav li{ border: none; padding: 10px 20px 0;}
.nav-footer{ position: absolute; width: 100%; bottom: 1rem; text-align: center;}
.nav-footer a{ padding: 3.5px;}

.heading{ text-align: center; font-weight: 400; font-size: 2.5em; letter-spacing: 0.05em;}
.container-body{ display: flex; place-content: center; column-gap: 10%;  padding: 50px 0; color: inherit; background-color: inherit;}
.container-body div{ width: 50%; font-size: 0.9em; font-weight: 500;}
.container-body p, .container-body select{ margin: 10px 0; padding: 5px;}
.container-body-con{height: auto; display: grid; grid-gap: 1rem; }
.item{height: max-content; width: 100%; padding: 1.5rem; margin: 2em 0 0;}
.notes{white-space: pre-wrap;}

.tabcontent{ display: none;}
.tabcontent.active{ display: block;}
.tab-link.active, .btn-link:hover{ /* color: #ec2b75; */ color: rgb(149, 64, 206);}

#addNote{display: none;}
#output { height: 300px;  width: calc(100% / 7 * 7); padding: 1rem; background-color: transparent; color: inherit;}

#scroll::-webkit-scrollbar-track{ box-shadow: inset 0 0 5px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
#scroll::-webkit-scrollbar{ width: 5px; background-color: #F5F5F5;}
#scroll::-webkit-scrollbar-thumb{background-color: #000000;}
/*BORDERS*/
.borderW{ border: 1px solid rgb(214, 214, 241);}
.borderG{ border: 1px solid rgb(204, 0, 255);}
/*BUTTONS*/
.btn-primary{ padding: 8px 10px; transition: all 0.5s;}
.btn-primary:hover{ border: 1px solid rgb(149, 64, 206);}
.btn-icon{padding: 0 3px; transition: all 0.5s;}
.danger{ border: 1px solid rgb(255, 0, 0);}
.danger:hover{ border: 1px solid rgb(255, 0, 0); color: rgb(255, 0, 0);}
.btn-icon:hover{color: rgb(149, 64, 206);}

/*Stylings*/
.right{float: right;}
.bold{font-weight: 600;}
.small{font-size: small;}
.medium{font-size: 20px;}
.large{font-size: 30px;}
.fade{color: gray;}