@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: none;
    transition: all 0.2s ease-in-out;
    background-color: rgba(22, 185, 0, 0.692);
}

button:hover{
    background-color: rgba(22, 185, 0, 0.877);
}

.modal-wrap, #verifyOTP, #resetPswd, #message, .tab-content > div{
    display: none;
}

/*=====================LOGIN FORM===================================*/
.form{
    display: flex;
    padding: 3% 30px;
    place-content: center;
}

form{
    font-size: small;
    width: 50%;
    background-color: #ffffffcc;
    box-shadow: 0px 0px 10px 4px rgba(243, 219, 255, 0.432);
}

form div{
    position: relative;
}

form div label{
    position: absolute;
    bottom: 40px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .5s;
}

.tab-header{
    padding: 0 5%;
    height: 50px;
    line-height: 50px;
    cursor:pointer;
}

.tab-header > div{
    /* margin: 3% 0; */
    font-size: large;
    width:50%;
    float:left;
    text-align:center;
    color:#555;
    letter-spacing: 0.03em;
    background-color: transparent;
}

.tab-header > div.active {
    color:#111;
    border-bottom: 2px solid #8c2ff7;
}

.tab-content, .form-content{
    margin: 7%;
}

.form-content > h2{
    font-weight: 600;
    color: #8c2ff7;
    letter-spacing: 0.04em;
}

.tab-content p, .form-content p{
    margin-top: 20px;
    color:#111;
    line-height: 25px;
}

.tab-body{
    background-color: transparent;
}

input[type='text'], input[type='password']{
    resize: vertical;
    padding: 10px 0;
    margin-bottom: 30px;
    box-shadow: none;
    border: none;
    outline: none;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #999;
}

input:focus,
input:valid {
   border-bottom: 1px solid #8c2ff7;
}

input:focus ~label,
input:valid ~label {
   top: -10px;
   color: #8c2ff7;
   left: 0;
}

.tab-content > div.active {
    display:block;
}

/* The message box is shown when the user clicks on the password field */
#message {
    color: #000;
    position: relative;
    margin-left: 30px;
    padding: 20px;
    font-size: medium;
    background-color: #ffffffc4;
    box-shadow: 0px 0px 10px 4px rgba(46, 42, 42, 0.199);
}
  
  #message p{
    padding: 20px 0 10px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
  }

  /*SHOW/ HIDE DIVS ON CLICK*/
  #getOTP{
      display: block;
  }

  #verifyOTP, #resetPswd{
      margin-top: 30px;
  }

.modal-wrap{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: royalblue;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px darkgrey;
    color: white;
}

.modal h1{
    padding:  150px 50px;
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 65%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

@media only screen and (max-width: 540px){
    button{
        font-size: small;
    }
    .form{
        flex-direction: column;
    }

    form{
        margin-top: 10%;
        width: 100%;
    }

    #message{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        font-size: small;
    }
}