@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(26, 13, 39);
    color: #f5ebff;
}

.light{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #101010;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

i{
    font-size: 1rem;
    /* color: #886ca3; */
    color: #222222;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 0.3em;
    color: white;
    padding: 10px 15px;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover{
    transform: translate(0px, -2.5px);
}

.btn-primary {
    background-color: rgb(241, 69, 16);
    box-shadow: 0px 1px 5px 0px rgb(255, 185, 158);
}

.btn-primary:hover{
    border-radius: 1px solid rgb(241, 69, 16);
    background: rgb(255, 229, 219);
    color: rgb(241, 69, 16);
}

.btn-primary:hover > i{
    color: inherit;
}

.btn-secondary{
    margin: 50px 0 0;
    /* padding: 13px 26px;
    font-size: 23px; */
    color: lavender;
    background-color: #8c2ff7;
    box-shadow: 0px 1px 5px 0px rgb(219, 158, 255);
}

.btn-secondary:hover, .toggle{
    background: lavender;
    color: #8c2ff7;
}

.toggle{
    background-color: lavender;
    color: #8c2ff7;
    box-shadow: 0px 1px 5px 0px rgb(228, 184, 253);
}

.toggle:hover{
    background-color: #8c2ff7;
    color: lavender;
}

.header{
    padding-bottom: 7%;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #f5ebff;
    color: inherit;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;
}

.hamburger{
    display: none;
}

/*designing the menu bars*/
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 400ms ease-in-out;
    background-color: #101010;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-right: 2rem;
}

.nav-link, i{
    font-size: 0.95rem;
    font-weight: 400;
    color: #886ca3;
    /* color: #4e4769; */
    /* color: #a39bac; DARK MODE*/
}

.nav-link:hover, i:hover{
    color: #8c2ff7;
    /* color: #f5ebff;  DARK MODE*/
}

.connect > a{
    margin: auto 0.5rem;
}

.nav-logo{
    font-size: 2.1rem;
    font-weight: 600;
    color: #8c2ff7;
    letter-spacing: 0.06em;
}


.toggle-mode{
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 10px;
    cursor: pointer;
    background-color: lavender;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.toggle-mode i{
    color: rgb(241, 69, 16);
    font-size: 2.1em;
}

/*==============================MAIN==========================================*/

#display{
    height: 25vh;
}

#about, #features, #blogs{
    margin: auto auto 13%;
}

#hero {
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

#hero::after {
width:100%;
height:100%;
content: '';
position:absolute;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5)
}

#hero video {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:5;
object-fit:cover;
font-family:'object-fit: cover';
}

#hero .texture {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:15;
background:url('../texture.png');
}

#hero .caption {
position:relative;
z-index:20;
text-align:center;
color:#ffffff;
}

#hero .caption h2 {
    font-weight:400;
    /* font-size:1.8rem; */
    margin:0;
    font-family: 'PT Sans', sans-serif;
}

.caption{
    width: 50%;
    margin: 0 3rem;
    font-size: 1.7rem;
    font-style: italic;
    text-align: center;
    text-shadow: 
    0.5px 0px 0.5px rgba(204, 204, 204, 0.705), 0px 0.5px 0.5px rgba(238, 238, 238, 0.699), 
    1px 0.5px 0.5px rgba(204, 204, 204, 0.705), 0.5px 1px 0.5px rgba(238, 238, 238, 0.699),
    2px 1px 0.5px rgba(204, 204, 204, 0.705);
}

.start{
    margin: 0;
}

.action i{
    text-shadow: none;
    color: inherit;
    padding: 0px 5px;
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}
  
  figure{
    width: 50%;
  }

  figure img{
    width: 380px; 
    height: 500px;
    margin: auto auto auto 25%;
  }
  
  .about-body{
    margin: auto;
    line-height: 6em;
  }

  .about-title{
      font-size: 2.2em;
  }

  .about-title > .nav-logo{
      font-size: 1.1em;
  }

  .about-text li{
    padding-left: 3%;
    font-size: 1.25rem;
    line-height: 2em;
  }
  
  .about-text ul{
    list-style-type: none;
  }

  .mySlides {display: none;}
  .mySlides img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .middleT {
    aspect-ratio: 15 / 6;
    position: absolute;
    top:0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.55); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 30px;
    text-align: center;
  }
  
  .text{
    padding: 4rem 1rem;
    display: flex;
    place-items: center;
  }
  
  .text .txt{
    text-align: justify;
    width: 50%;
    padding: 0 1rem;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  
  .text a{
    text-align: justify;
    width: 50%;
    padding: 0 10rem;
  }
  
  .image {
    aspect-ratio: 15 / 6;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .fade:hover .image {
    opacity: 0.5;
  }
  
  .fade:hover .middle {
    opacity: 1;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    opacity: 1;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: all 0.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

    .container{
        margin: 8% 2%;
    }
    
    .ex8, .parent8{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        place-items: center;
        margin: auto;
    }

    .ex8 .card-purple{
        width: clamp(10ch, 80%, 76ch);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1.5rem 1rem;
        margin: 30px auto;
        transition: all 0.5s ease-in-out;
        font-size: 0.9em;
        opacity: 0.8;
        background: rgba(224, 224, 224, 0.233); /* Black see-through */
    }
    
    .ex8 .card-purple:hover{
        opacity: 0.9;
        transform: scale(1.04);
        box-shadow: 7px -7px 5px 0px rgba(161, 161, 161, 0.363);
    }
    
      .ex8 .yellow-visual img{
        margin: 1rem auto;
        height: 190px;
        width: 100%;
      }

    hr{
        width: 80%;
        background-color: rebeccapurple;
    }

    .date{
      font-style: italic; 
      font-size: 0.85rem; 
      color: rgb(102, 102, 102);
    }

    .tag{
        margin: auto 10px; 
        color: white; 
        padding: 4px 8px; 
        background-color: rgb(241, 69, 16); 
        font-style: normal; 
        border-radius: 1em;
    }

    .swiper-button-next, 
    .swiper-button-prev{
        opacity: 0.5;
    }

    .swiper-button-next:hover, 
    .swiper-button-prev:hover{
    opacity: 1;
    }

    .view-more {
        margin-left: calc(100% / 2.2);
    }

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: #000;
}

.footer-body{
    display: flex;
    place-items: center;
    background-color: #1a1a1a;
    padding: 1rem;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.03em;
}

.footer-1, .footer-2{
    width: 50%;
}

.footer-end span{
    font-size: medium;
    color: inherit;
    font-weight: normal;
}

.footer-end, .footer-links, .footer-links i, .footer-text{
    padding: 1rem;
    color: white;
}

.footer-links i:hover{
    color: #8c2ff7;
}

.footer-title{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1% auto;
    color: #fff;
    letter-spacing: 0.05em;
}

.footer-2 form{
    margin: 1% 25%;
    font-size: small;
}

.footer-2 input, .footer-2 textarea{
    width: 100%;
    padding: 20px 0 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #999;
    color: #999;
}

.footer-2 form div{
    position: relative;
}

.footer-2 form div label{
    position: absolute;
    left: 0;
    transition: .5s;
    color: #999;
}

.footer-2 input:focus ~label,
.footer-2 textarea:focus ~label,
.footer-2 input:valid ~label,
.footer-2 textarea:valid ~label{
    top: -13px;
    color: white;
    left: 0;
    background-color: transparent;
}

.footer-2 input:focus,
.footer-2 textarea:focus,
.footer-2 input:valid,
.footer-2 textarea:valid{
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.footer-2 .btn-send{
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 1em;
    cursor: pointer;
    color: #8c2ff7;   
}

@media only screen and (max-width: 990px){
    .header{
        width: calc(100% / 2);
    }

    .navbar{
        flex-direction: row;
    }
    
    .nav-menu{
        position: fixed;
        left: 0;
        top: -100%;
        flex-direction: column;
        background-color: lavender;
        width: 100%;
        text-align: center;
        transition: 0.7s ease-in-out;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active{
        top: 4rem;
    }

    .nav-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-item{
        margin: 1rem 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        padding: 0 0 0 20px;
    }

    .bar{
        background-color: #8c2ff7;
    }

    .middleT{
        aspect-ratio: 15 / 9;
    }

    .text{
        flex-direction: column;
        padding: 1rem;
    }

    .text .txt{
        width: 100%;
        padding: 1rem;
        line-height: 1.5em;
        letter-spacing: 0;
        font-size: larger;
    }

    .text a{
        padding: 0 1rem;
        width: 100%;
    }

    .image{
        aspect-ratio: 15 / 9;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .main{
        flex-direction: column;
    }

    .about-content{
        flex-direction: column;
    }

    figure, .about-body{
        max-width: 100%;
        margin: auto 0;
    }

    .col-1{
        width: 100%;
        margin: inherit auto;
    }
    .col-2{
        display: none;
    }

    .about-body{
        line-height: 3em;
    }

    figure img{
        margin: 0;
        max-width: fit-content;
        width: 100%;
        height: 50%;
    }

    .middleT{
        padding: 25px;
    }

    .footer-body{
        flex-direction: column;
    }

    .footer-1, .footer-2{
        width: 100%;
    }

    .toggle-mode{
        padding: 7.5px;
    }

    #hero .caption h2 {
        font-size:1.7rem;
  }
}

@media only screen and (max-width: 540px){
    button{
        padding: 5px 10px;
        font-size: small;
    }

    .middleT, .about-content{
        padding: 3px;
        font-size: smaller;
    }

    .text .txt{
        letter-spacing: 0.03em;
        padding: 2px;
    }

    .about-title{
        text-align: center;
        font-size: large;
    }

    .about-text li, .about-body{
        font-size: 1.1em;
        letter-spacing: 0.05em;
    }
}