@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #101010;
    background-color: lavender;
    /* background-color: #222121;  */
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

i{
    font-size: 1rem;
    color: #4e4769;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
}

.header{
    padding-bottom: 7%;
}

.navbar{    
    z-index: 100;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: white;
    border-bottom: 1px solid #E2E8F0;
}

.hamburger{
    display: none;
}

/*designing the menu bars*/
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-right: 2rem;
}

.nav-link{
    font-size: 0.95rem;
    font-weight: 400;
    color: #4e4769;
}

.nav-link:hover, i:hover{
    color: #8c2ff7;
}

.connect > a{
    margin: auto 0.5rem;
}

.nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-logo{
    font-size: 2.1rem;
    font-weight: 600;
    color: #8c2ff7;
    letter-spacing: 0.06em;
}

.sign {
    background-color: rgb(255, 84, 16);
    border-radius: 0.3em;
    color: white;
    padding: 10px 15px;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

.sign:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 5px 3px rgba(46, 42, 42, 0.199);
}

/*==============================MAIN==========================================*/

#display{
    height: 30vh;
}

#about, #features, #blogs{
    margin: 10% auto;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-1{
    width: 50%;
    text-transform: uppercase;
    margin: 5rem;
    z-index: 2;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    5px 4px 1px #ccc;
}
.col-2{
    background-color: #8c2ff7;
    box-shadow: -10px 10px 0px 5px black, -23px 23px 0px 5px #aaa8b6;
}
.col-2 img{
    padding: 2rem;
    width: 37vw;
    height: 92vh;
    object-fit: cover;
}
        .action{
            margin-top: 20px;
        }

        .action i{
            text-shadow: none;
            color: white;
            padding: 0px 5px;
        }

        .start{
            margin: 50px 0 0;
            padding: 20px 40px;
            font-size: 40px;
            color: #101010;
            background-color: #9e4dfc;
            border-radius: 2em;
            border: 2px solid #101010;
            transform: translate(0, 0);
            transition: all .15s ease-in-out;
        }

        .start:hover{
            cursor: pointer;
            color: #101010;
            transform: translate(0px, -8px);
            box-shadow: -5px 10px 1px -2px black;
        }

.about-content{
    display: flex;
    place-items: center;
  }
  
  figure{
    width: 50%;
  }

  figure img{
    width: 380px; 
    height: 500px;
    margin: auto auto auto 25%;
  }
  
  .about-body{
    margin: auto;
    line-height: 6em;
  }

  .about-title{
      font-size: 2.2em;
  }

  .about-title > .nav-logo{
      font-size: 1.1em;
  }

  .about-text li{
    padding-left: 3%;
    font-size: 1.25rem;
    line-height: 2em;
  }
  
  .about-text ul{
    list-style-type: none;
  }

    .carousel-container{
        margin: 10% auto;
        height: 65vh;
        background-color: #101010;
        box-shadow: -20px -15px 0px 0px gray,
                    -40px -30px 0px 0px rebeccapurple;
    }

    .carousel-wrapper{
        overflow: hidden;
        display: flex;
    }   
  
    .card-carousel > div{
        display: flex;
        color: white;
        width: 85vw;
        height: 70vh;
        position: absolute;
    }
    
    .card-carousel .carousel-content{
        padding: 1% 8% 0 0;
        line-height: 3.3em;
        font-size: 1.8em;
        width: 50%;
    }
    
    .carousel-content h2{
        border-bottom: 2px solid #E2E8F0;
        letter-spacing: 0.05em;
    }

    .carousel-content ul{
        padding-top: 20px;
    }

    .carousel-content li{
        list-style: circle;
        line-height: 1.5em;
    }
    
    .btn-white{
        padding: 10px 20px;
        border: 1px solid white;
        font-size: 0.8em;
        cursor: pointer;
        color: #8c2ff7;
    }
    
    .card-carousel .carousel-img img{
        margin-top: -12%;
        width: 500px;
        height: 500px;
        object-fit: cover;
        overflow: visible;
    }
    
    .c1, .c2, .c3, .c4{
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    
    .c1{
        animation-name: a;  
    }
    
    .c2{
        animation-name: b;
    } 
    
    .c3{
        animation-name: c;
    } 
    
    .c4{
        animation-name: d;
    }

    @keyframes a {
        0%, 8.6% { left: 10%; opacity: 0; }
        8.6%, 20% { left: 10%; opacity: 1; }
        29.33%, 100% { left: 10%; opacity: 0; }
    }
    
    @keyframes b {
        0%, 29.33% { left: 10%; opacity: 0; }
        34.66%, 46.66% { left: 10%; opacity: 1; }
        51.66%, 100% { left: 10%; opacity: 0; }
    }
    
    @keyframes c {
        0%, 51.66% { left: 10%; opacity: 0; }
        59.66%, 70.66% { left: 10%; opacity: 1; }
        75.88%, 100% { left: 10%; opacity: 0; }
    }
    
    @keyframes d {
        0%, 75.88% { left: 10%; opacity: 0; }
        82.33%, 94.66% { left: 10%; opacity: 1; }
        100% { left: 10%; opacity: 0; }
    }

    .container{
        margin: 8% 2%;
    }
    
    .ex8, .parent8{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        place-items: center;
        margin: auto;
        /* background-color: purple; */
    }

    .ex8 .card-purple{
        width: clamp(10ch, 80%, 76ch);
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        margin: 30px auto;
        transition: all 0.5s ease-in-out;
        font-size: 0.9em;
        background-color: lavender;
        box-shadow: 0px 2px 10px 2px #c7c6cc;
    }
      
    .card-purple .date{
        font-style: italic; 
        font-size: 0.85rem; 
        color: rgb(102, 102, 102);
    }

    .card-purple .tag{
        margin: auto 10px; 
        color: white; 
        padding: 4px 8px; 
        background-color: rgb(241, 69, 16); 
        font-style: normal; 
        border-radius: 1em;
    }
      .ex8 .yellow-visual img{
        margin: 1rem auto;
        height: 190px;
      }

    .ex8 .card-purple:hover{
        background-color: #fff;
        transform: scale(1.04);
    }

    .swiper-button-next, 
    .swiper-button-prev{
        opacity: 0.5;
    }

    .swiper-button-next:hover, 
    .swiper-button-prev:hover{
    opacity: 1;
    }

    .view-more {
        margin-left: calc(100% / 2.2);
    }

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000;
}

.footer-body{
    display: flex;
    place-items: center;
    background-color: #1a1a1a;
    padding: 1rem;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.03em;
}

.footer-1, .footer-2{
    width: 50%;
}

.footer-end span{
    font-size: medium;
    color: inherit;
    font-weight: normal;
}

.footer-end, .footer-links, .footer-links i, .footer-text{
    padding: 1rem;
    color: white;
}

.footer-links i:hover{
    color: #8c2ff7;
}

.footer-title{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1% auto;
    color: #fff;
    letter-spacing: 0.05em;
}

form{
    margin: 1% 25%;
    font-size: small;
}

.footer-2 input, .footer-2 textarea{
    width: 100%;
    padding: 20px 0 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #999;
    color: #999;
}

.footer-2 form div{
    position: relative;
}

.footer-2 form div label{
    position: absolute;
    left: 0;
    transition: .5s;
    color: #999;
}

.footer-2 input:focus ~label,
.footer-2 textarea:focus ~label,
.footer-2 input:valid ~label,
.footer-2 textarea:valid ~label{
    top: -13px;
    color: white;
    left: 0;
    background-color: transparent;
}

.footer-2 input:focus,
.footer-2 textarea:focus,
.footer-2 input:valid,
.footer-2 textarea:valid{
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.footer-2 .btn-send{
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 1em;
    cursor: pointer;
    color: #8c2ff7;   
}











/*===========================RESPONSIVENESS DESIGN=============================*/
/* @media only screen and (max-width: 768px){
    .header{
        width: calc(100% / 2);
    }

    .navbar{
        flex-direction: row-reverse;}
        /* width: calc(100% / 1.7); */
/* 
    .connect{
        display: none;
    } 

    .nav-menu{
    
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-item{
        margin: 2rem 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        padding: 0 0 0 20px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .sign{
        padding: 8px 10px;
        font-size: 1rem;
    }
    
    .main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .randQuotes{
        margin: 4rem 1%;
        width: 100%;
        border-right: none;
        text-align: center;
        justify-content: flex-start;
    }
    
    .get-started{
        margin: 3rem;
        width: 100%;
        text-align: center;
        justify-content: flex-end;
    }

    .live-card{
        margin: auto;
        height: max-content;
        width: max-content;
    }

    .c-2{
        flex-direction: column;
    }

    .tabs{
        width: 100%;
        padding: 10px;
    }

    .mood-content{
        width: 90%;
        margin: 5% 2%;
    }

    .ask-content h2{
        font-size: 1.5rem;
    }
    
    .ask-content h3{
        font-size: 1.3rem;
    }
    
    .tabs .tab-body div p{
        width: 50%;
    }
    .mood-image{
        display: none;
    }

    .main{
        padding: 5rem 0 0 20px;
        width: 400px;
        height: 450px;
        display: block;
    }
    .col-1{
        place-items: center;
        height: inherit;
        font-size: 1.5rem;
    }

    #display{
        padding: 0;
    }

    .col-2{
        display: none;
        padding: 0;
        margin: 0;
    }

    .action{
        margin-top: -10%;
    }
    
    .start-btn{
        margin-top: -28%;
        float: right;
    }

    .start{
        padding: 10px 20px;
        font-size: 20px;
    }

    .shadow{
        font-size: 11rem;
    }

    .feature{
        margin: 5% 0%;
    }

    .c1, .c2, .c3, .c4{
        flex-direction: column;
        justify-content: center;
        margin-top: -5%;
    }

    .carousel-wrapper{
        width: max-content;
        height: 150vh;
    }

    .carousel-content{
        margin-top: 20%;
    }

    .c2, .c3, .c4{
        margin-top: -112%;
    }
}    */