<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome <span id="name"></span></h1>
    <a href="index.html" class="nav-btn"><button class="sign-in" id="login" onclick="logout();">Logout</button></a>
    <script>
        var secret = localStorage.getItem("code");

        if(secret == "secret"){
            
        } else{
            alert("You have been logged out! Please Login again!");
            window.location.href = "sign.html";
        }

        document.getElementById('name').innerHTML = localStorage.getItem("Username");

        function logout(){            
            var secret = localStorage.setItem("code","logout");
            localStorage.setItem("Username", "");
            localStorage.setItem("Email", "");
            window.location.href = "sign.html";
        }
    </script>
</body>
</html>